<html>
  <head>
    <style>
      .ball{
        width: 40px;
        height: 40px;
        border-radius: 20px;
      }  
      .ball1{
        background: red;
      }.ball2{
        background: blue;
      }.ball3{
        background: green;
      }
    </style>
    <script src="../node_modules/bluebird/js/browser/bluebird.js"></script>
    <script src="../public/javascripts/jquery-1.11.1.js"></script>
  </head>
  <body>
    <div class="ball ball1" style="margin-left:0;"></div>
    <div class="ball ball2" style="margin-left:0;"></div>
    <div class="ball ball3" style="margin-left:0;"></div>

    <script>
      var ball1 = document.querySelector('.ball1')
      var ball2 = document.querySelector('.ball2')
      var ball3 = document.querySelector('.ball3')

      function animationPromise(ball,distance){
        return new Promise(function(resolve,reject){
          function _animate(){
            setTimeout(function(){
              
              var marginleft = parseInt(ball.style.marginLeft,10);

              if(marginleft === distance){
                resolve()
              }else{
                if(marginleft < distance){
                  marginleft++
                }else{
                  marginleft--
                }

                ball.style.marginLeft = marginleft + 'px'
                _animate()
              }

            },13)
          }
          _animate()
        })
      }

      animationPromise(ball1,100)
        .then(function(){
          return animationPromise(ball2,200);
        })
        .then(function(){
          return animationPromise(ball3,300);
        })
        .then(function(){
          return animationPromise(ball3,150);
        })
        .then(function(){
          return animationPromise(ball2,150);
        })
        .then(function(){
          return animationPromise(ball1,150);
        })
    </script>
  </body>
</html>